# Ignore the build directory, run npm build to generate

src

# Ignore components installed by bower, run bower install to retrieve these

bower

# Ignore these, just do it

node_modules

# Ignore this to avoid strange conflicts

.DS_Store