# Enable Compression
SetOutputFilter DEFLATE

# Set Cache-Control to 2 weeks for most resources and 3 months for images
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault M1209600
  ExpiresByType text/html M1209600
  ExpiresByType image/gif A8035200
  ExpiresByType image/jpeg A8035200
  ExpiresByType image/png A8035200
  ExpiresByType text/css M1209600
  ExpiresByType text/javascript M1209600
  ExpiresByType application/x-javascript M1209600
</IfModule>