/* Import Config and Commonly Used Functions */
@require 'config'
/* Common Classes */
.hidden
.hideOnLoad
	display none

.clearfix
	clear both

.text-center
	text-align center

.pointer
	cursor pointer

.relative
	position relative

body
	background $bodyBackground
	font-family $fontFamily

.app-header
	background $headerBackground
	color $headerFontColor
	height $headerHeight
	position absolute
	z-index 1
	right 0
	left 0
	top 0

.app-body
	position absolute
	top $headerHeight
	bottom 0
	right 0
	left 0

@require 'loader'
@require 'header'
@require 'map'
/* Import this last so we dont need important tags in it to override styles */
@require 'media'
