/* Import Config and Commonly Used Functions */
@require 'config'
/* Common Classes */
.hidden
.hideOnLoad
	display none

.clearfix
	clear both

.text-center
	text-align center

.pointer
	cursor pointer

.relative
	position relative

html
body
.react-root
	overflow hidden
	height 100%
	width 100%
	padding 0
	margin 0

body
	background $bodyBackground
	font-family $fontFamily

.react-root
	flex-direction column
	display flex

.app-header
	background $headerBackground
	flex 0 0 $headerHeight
	color $headerFontColor
	height $headerHeight
	z-index 1

.app-body
	flex-direction row
	display flex
	flex-grow 2

@require 'loader'
@require 'header'
@require 'map'
@require 'mapTools'
/* Import this last so we dont need important tags in it to override styles */
@require 'media'
