/* Common Functions Used */
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	
border-radius-top()
	border-top-left-radius arguments
	border-top-right-radius arguments
	-moz-border-radius-topleft arguments
	-moz-border-radius-topright arguments
	-webkit-border-top-left-radius arguments
	-webkit-border-top-right-radius arguments
	
border-radius-left()
	border-top-left-radius arguments
	border-bottom-left-radius arguments
	-moz-border-radius-topleft arguments
	-moz-border-radius-bottomleft arguments
	-webkit-border-top-left-radius arguments
	-webkit-border-bottom-left-radius arguments

border-radius-right()
	border-top-right-radius arguments
	border-bottom-right-radius arguments
	-moz-border-radius-topright arguments
	-moz-border-radius-bottomright arguments
	-webkit-border-top-right-radius arguments
	-webkit-border-bottom-right-radius arguments

/* Common Functions Used */

/* Font Family Here */
$fontFamily = Cambria, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
/* A Good Backup, just remove Lato and Google Font Link on index.jade
   'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif
*/
/* Font Family Here */

/* Common Variables Used */
$hoverBackground = #DDD
$bodyBackground = #CCC
$mainBackground = #2982ff
$mainBorder = #555
/* Common Variables Used */

/* Header Variables Here */
$headerBackground = $mainBackground
$headerFontColor = #FFFFFF
$headerHeight = 50px
/* Header Variables Here */

/* Map Variables Here */
$mapBackground = $bodyBackground
/* Map Variables Here */