/* Common Functions Used */
border-radius()
	border-radius arguments

border-radius-top()
	border-top-left-radius arguments
	border-top-right-radius arguments

border-radius-bottom()
	border-bottom-left-radius arguments
	border-bottom-right-radius arguments

border-radius-left()
	border-top-left-radius arguments
	border-bottom-left-radius arguments

border-radius-right()
	border-top-right-radius arguments
	border-bottom-right-radius arguments

/* Common Functions Used */

/* Font Family Here */
$fontFamily = Cambria, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif

/* Common Variables Used */
$bodyBackground = #CCC
$mainBackground = #4385F6
$mainBorder = #555
$activeBackground = #DDD

/* Header Variables Here */
$headerBackground = $mainBackground
$headerFontColor = #FFFFFF
$headerHeight = 50px

/* Map Variables Here */
$mapBackground = $bodyBackground
$loading = $mainBackground
