.app-header
  border-bottom 1px solid $lightGrayBorder
  background-color $appBlue
  height $headerHeight
  width 100%
  color #FFF

.app-header__content
  align-items center
  display flex
  height 100%

.app-header__title
  margin auto 10px
