.app-header
  border-bottom 1px solid $lightGrayBorder
  height $headerBottom
  align-items center
  position absolute
  display flex
  width 100%
  left 0
  top 0

.app-header__title
  margin auto 10px
