@keyframes loader
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

.app-loader
  background rgba(220, 220, 220, 0.75)
  position absolute
  display none
  height 100%
  width 100%
  left 0
  top 0

.app-loader__active
  @extend .app-loader
  display block
  & .foreground
    animation loader 0.95s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite

.app-loader__spinner
  transform translate(-50%, -50%)
  position absolute
  height 50px
  width 50px
  left 50%
  top 50%
