#map-container
	background $mapBackground

#map-container
#map
	height 100%
	width 100%

/** Loading Icon **/
#loading-indicator g:last-child path
	fill $mainBackground

#map-loader
	position absolute
	margin-left -50px
	margin-top -50px
	z-index 1000
	left 50%
	top 50%

.loading-icon
	height 100px
	width 100px
