/** Esri Overrides **/
.esriSimpleSlider
	border-radius(0)

.esriSimpleSliderDecrementButton:hover
.esriSimpleSliderIncrementButton:hover
	background-color $hoverBackground

/** My Widgets **/
.basemap-gallery
	border 1px solid $mainBorder
	transition all 0.25s ease
	border-radius(5px)
	position absolute
	background white
	height 30px
	width 30px
	z-index 50
	right 20px
	top 90px

.basemap-gallery.open
	height 250px
	width 210px
	& .basemap-gallery-item-list
		display block

.basemap-gallery-item-list
	border-top 1px solid $mainBorder
	position absolute
	overflow-y auto
	display none
	padding 0
	margin 0
	top 30px
	bottom 0
	right 0
	left 0

.basemap-gallery-icon
	border-radius(5px)
	position absolute
	height 30px
	width 30px
	right 0
	top 0

.basemap-icon-svg
	margin 3px auto
	display block
	height 24px

.basemap-icon-themed
	fill $mainBackground

.basemap-gallery-item
	border-bottom 1px solid $mainBorder
	transition background 0.5s ease
	padding 0 0 0 60px
	position relative
	height 60px

.basemap-gallery-item.active
.basemap-gallery-item:hover
.basemap-gallery-icon:hover
	background $hoverBackground

.basemap-gallery-item-icon
	border 1px solid $mainBorder
	border-radius(35px)
	position absolute
	height 48px
	width 48px
	left 5px
	top 5px

.basemap-gallery-item-label
	line-height 60px
	font-size 12px
