/* Smart Phone Layout */
@media (max-width: 600px)
	.app-title
		line-height $headerHeight

	.app-subtitle
	.esriUI .esriCorner .esriZoom
		display none

	.map .basemap-gallery
		top 50px

	.map .mode-switcher
		top 10px

/* Smart Phone Layout */


/* Tablet Layout */
@media (min-width: 600px) and (max-width: 1024px)
	.app-header
		background green

/* Tablet Layout */
