$fontFamily: 'Roboto';
//- Position/Sizing
$headerHeight: 60px;
//- Colors
$transparentHeader: rgba(0, 141, 245, 0.8);
$shadowBackground: #777;
$lightGrayHighlight: #EEE;
$lightGrayBorder: #AAA;
$appBlue: #008DF5;
$lightGray: #AAA;
