doctype
html
  head
    title #{title}
    include pug/meta
    //- Include this to include a Content-Security-Policy
    include pug/CSP
    //- Flag for gulp-replace to inject the contents critical.css
    <!-- Inject: critical.css -->
  body
    include pug/svg
    div#root
    script.
      //- Add versions for JS to read
      var _versions = {
        cache: '#{version}',
        esri: '#{esriVersion}'
      };
      var base = location.href.replace(/\/[^/]+$/, '');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: base + '/vendor' }
        ],
        aliases: [
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    script(src='//js.arcgis.com/' + esriVersion + '/init.js', async)
